<html>
<head>
<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
<script>ZiggeoApi.token = "3a57cd88af326e06a7d30a0ea1c76561";</script>
</head>
<body>




<%= form_for :hack, url: hacks_path do |f| %>  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :desc %>
  </p>
 <ziggeo ziggeo-width=320
        ziggeo-height=240>
</ziggeo>
  <p>
    <%= f.submit %>
  </p>
<% end %>

</body>
</html>